<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoloniexAutoTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PoloniexAutoTrader.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value>ERUEZZ0C-K0VW64N8-CHX99HJ5-1889IP0M</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>d060605f1efbf2aa3e9ea64dedd387204bf1fb168828f8df9487432cae1563699351ebc6151f25d45b40d7a42d8e8c95eb03b2f52f9a65e46c563c6244cdf494</value>
            </setting>
        </PoloniexAutoTrader.Properties.Settings>
    </userSettings>
</configuration>